.portrait{
    grid-area: portrait;
    background-image: url(../../img/elf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 240px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: inset -8px 0px 6px 0px rgba(0,0,0,0.75), -1px 1px 4px 2px #222;
    margin-inline: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.portrait::before{
    content: "";
    grid-area: portrait;
    background: url(../../img/sheet2.jpg) no-repeat;
    background-position: center;
    height: 240px;
    width: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 1px solid rgb(211, 211, 211);
    z-index: -1;
}

.portrait::after{
    content: "\f07c";
    font: var(--fa-font-regular);
    position: absolute;
    bottom: 8px;
    right: 14px;
    font-size: 1.5rem;
    color: var(--str);
    z-index: -1;
}

.portrait__input{
    display: none;
}

