.btn--add::before,
.btn--remove::before{
    content:"\f055";
    cursor: pointer;
    font: var(--fa-font-solid);
    transition: 0.2s;
    filter: brightness(1);
    color: black;
}

.btn--remove::before{
    content:"\f056";
    color: var(--str);
}

.btn--add:hover::before{
    color: var(--wis);
}
