.apresentacao{
    grid-area: apresentacao;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "portrait portrait"
        "xp jogador" 
        "antecedente race"
        "nome nome";
    position: relative;
    background: none;
    background-size: cover;
    box-shadow: none;
    max-width: 400px;
    gap: 10px;
    column-gap: 14%;
    margin-top: 50px;
    margin-inline: auto;
}

.apresentacao::after{
    content: "";
    grid-area: portrait;
    background: url(../img/sheet2.jpg) no-repeat;
    background-position: center;
    height: 240px;
    width: 80%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 1px solid rgb(211, 211, 211);
    position: relative;
    margin-inline: auto;
    z-index: -1;
}

.portrait{
    grid-area: portrait;
    background: url(../img/elf.png) no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 240px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: inset -8px 0px 6px 0px rgba(0,0,0,0.75);
    position: relative;
    margin-inline: auto;
    cursor: pointer;
}

.dice::after,
.dice::before{
    content: "";
    width: 24vw;
    height: 24vw;
    max-width: 94px;
    max-height: 94px;
    filter: brightness(0.8);
    transition: 0.2s;
    position: absolute;
}

.dice::after{
    filter: brightness(0) blur(4px);
    z-index: -1;
}

.dice:hover::after,
.dice:hover::before{
    transform: rotate(20deg);
    transition: 0.2s;
    cursor: pointer;
}

.dice:hover::before{
    filter: brightness(1);
}

.d6::after,
.d4::after,
.d4::before{
    background: url(../img/dice/d4.png) no-repeat;
    background-size: contain;
    left: -5vw;
    right: 0px;
    top: 160px;
    width: 18vw;
    height: 18vw;
    max-width: 84px;
    max-height: 85px;
}

.d4::after{
    left: -5.2vw;
    top: 170px;
    transform: scale(0.8);
}

.d4:hover::after{
    transform: scale(0.9) rotate(12deg);
}

.d6::before{
    background: url(../img/dice/d6.png) no-repeat;
    background-size: contain;
    left: -1vw;
    right: 0px;
    top: 5px;
    filter: brightness(1);
    width: 19vw;
    height: 19vw;
    max-width: 90px;
    max-height: 90px;
}

.d6:hover::before{
    filter: brightness(1.1)
}

.d6::after{
    left: -1.4vw;
    top: 30px;
    filter: brightness(0) blur(5px);
    transform: scale(0.8) ;
}

.d6:hover::after{
    left: -2vw;
    transform: scale(0.7) rotate(15deg);
}

.d8::after,
.d8::before{
    background: url(../img/dice/d8.png) no-repeat;
    background-size: contain;
    left: 10px;
    right: 0px;
    top: -500px;
    bottom: 0px;
    margin-inline: auto;
    margin-top: auto;
    margin-bottom: auto;
    filter: brightness(0.9);
    width: 19vw;
    height: 19vw;
    max-width: 84px;
    max-height: 84px;
}

.d8:hover::before{
    filter: brightness(1.1)
}

.d8:hover::before{
    filter: brightness(1.3)
}

.d8::after{
    right: 32px;
    top: -490px;
    filter: brightness(0) blur(5px);
    transform: scale(0.8) ;
}

.d8:hover::after{
    transform: scale(0.7) rotate(18deg);
}

.d10::before{
    background: url(../img/dice/d10.png) no-repeat;
    background-size: contain;
    right: -2vw;
    top: 10px;
    width: 19vw;
    height: 19vw;
    max-width: 90px;
    max-height: 90px;
}

.d12::before{
    background: url(../img/dice/d12.png) no-repeat;
    background-size: contain;
    right: -5.5vw;
    top: 170px;
    width: 17vw;
    height: 17vw;
    max-width: 80px;
    max-height: 80px;
}

.d20::before{
    background: url(../img/dice/d20.png) no-repeat;
    background-size: contain;
    left: 10px;
    right: 0px;
    top: 170px;
    bottom: 0px;
    margin-inline: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.xp{
    grid-area: xp;
}

.jogador{
    grid-area: jogador;
}

.input__presentation{
    box-shadow: -4px 4px 4px 2px #222;
    background: url(../img/sheet2.jpg) no-repeat;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.input__presentation--left{
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input__presentation--right{
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: right;
    padding-right: 20px;
}

.input__presentation--full{
    grid-column: span 2;
    border-radius: 20px;
    width: 80%;
    margin-inline: auto;
    text-align: center;
}

.antecedente{
    grid-area: antecedente;
}

.race{
    grid-area: race;
}

.nome{
    grid-area: nome;
}
