*, *::before, *::after {
  box-sizing: border-box;
}

body{
  background: url(../img/wood.jpg) no-repeat;
  background-size: cover;
}

section{
  background: url(../img/sheet2.jpg) no-repeat;
  background-size: cover;
  padding: 12px;
  border-radius: 20px;
  box-shadow: -4px 4px 4px 2px #222;
  display: grid;
  gap: 6px;
}

header{
  height: 50px;
}

main{
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-areas: 
    "atributes inspiracao"
    "atributes proficiencia"
    "atributes pericias"
    "atributes pericias"
    "saves pericias";
  gap: 32px;
  padding: 16px;
  align-items: flex-start;
}

.title{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 12px;
}

.title--2c{
  grid-column: span 2;
}

.input__wrapper{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.input__label{
  margin-left: 2px;
  cursor: pointer;
}

.roll{
  margin-left: auto;
}

.roll::after{
  content:"\f522";
  font: var(--fa-font-solid);
  font-size: 1.2rem;
  margin-right: 4px;
}

.roll:hover{
  cursor: pointer;
  scale: 1.25;
  transition: 0.15s;
}

@media screen and (max-width: 660px) {
  main{
    display: grid;
    padding: 12px;
    grid-template-columns: auto;
    grid-template-areas:
    "inspiracao"
    "proficiencia"
    "atributes"
    "saves"
    "pericias";
  }

  .sheet__title{
    grid-area: sheetTitle;
    writing-mode: horizontal-tb;
    margin: 0;
  }
}

.off{
  display: none;
}