input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    display: none;
}

input[type=number] {
    appearance: textfield;
}

input[type=checkbox] {
    accent-color: var(--checkbox);
}