.outras{
    grid-area: outras;
}

.outras__container{
    display: grid;
    grid-template-columns: auto 1fr 40px;
    margin-top: 32px;
}

.outras__container:first-of-type{
    margin-top: 0px;
}

.title--outras{
    grid-column: span 3;
}

.icon--ferramentas::before{
    content: "\f0ad";
    font: var(--fa-font-solid);
    margin-right: 10px;
    margin-left: 10px;
}

.icon--idiomas::before{
    content: "\f2a2";
    font: var(--fa-font-solid);
    margin-right: 10px;
    margin-left: 10px;
}

.outra__input{
    width: 100%;
    background: transparent;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    margin-left: 4px;
}

.outras__container .btn--add{
    justify-self: flex-end;
}

.outras__container .btn--remove{
    justify-self: flex-end;
}

.wrapper__outras{
    grid-column: span 3;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.outras__p{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: left;
    margin-right: 12px;
}

.wrapper--ferramenta{
    display: grid;
    grid-template-areas: 
    "ferramenta ferramenta remover"
    "label select roll";
    row-gap: 4px;
}

.label--ferramenta{
    font-family: 'montez', sans-serif;
    font-size: 1.2rem;
    grid-area: label;
}

.select--atribute{
    background: transparent;
    grid-area: select;
    margin-right: 4px;
    font-family: 'montez', sans-serif;
    font-size: 1.2rem;
    margin-right: 16px;
}

.btn--ferramenta{
    grid-area: remover;
}

.roll--ferramenta{
    grid-area: roll;
}
