.personalidade{
    background: none;
    box-shadow: none;
    gap: 12px;
    grid-area: personalidade;
}

.article__personalidade{
    background: url(../img/sheet2.jpg) no-repeat;
    background-size: cover;
    padding: 12px;
    box-shadow: -4px 4px 4px 2px #222;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    border-radius: 3px;
}

.article__personalidade--tracos{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.article__personalidade--defeitos{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.title--personalidade{
    margin-bottom: 0px;
}
