.proficiencia{
    grid-area: proficiencia;
    position: relative;
    margin-right: 10px;
    margin-top: 14px;
}

.title--prof{
    margin-bottom: 0px;
}

.input__proficiencia{
    border: 2px solid black;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    position: absolute;
        right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -14px;
    background: url(../img/sheet2.jpg) no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 3px 0px #333;
    margin-right: -10px;
}