.rolagem{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 240px;
    display: grid;
    box-shadow: -4px 4px 6px 3px #222;
}

.title--rolagem{
    position: relative;
}

.title--rolagem::after{
    content: '';
    position: absolute;
        top: 35px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-inline: auto;
    width: 75px;
    height: 75px;
}

@keyframes rolagem {
    from {
        translate: -150px -60px;
        transform: rotate(0deg);
    }
    to {
        translate: 4px -2px;
        transform: rotate(1080deg);
    }
}

.rolagem--d4::after{
    background: url(../img/dice/d4.png) no-repeat;
    background-size: contain;
    animation: rolagem 1.4s forwards;
}

.rolagem--d6::after{
    background: url(../img/dice/d6.png) no-repeat;
    background-size: contain;
    animation: rolagem 1.4s forwards;
}

.rolagem--d8::after{
    background: url(../img/dice/d8.png) no-repeat;
    background-size: contain;
    animation: rolagem 1.4s forwards;
}

.rolagem--d10::after{
    background: url(../img/dice/d10.png) no-repeat;
    background-size: contain;
    animation: rolagem 1.4s forwards;
}

.rolagem--d12::after{
    background: url(../img/dice/d12.png) no-repeat;
    background-size: contain;
    animation: rolagem 1.4s forwards;
}

.rolagem--d20::after{
    background: url(../img/dice/d20.png) no-repeat;
    background-size: contain;
    animation: rolagem 1.4s forwards;
}

.btn--remove--rolagem{
    position: absolute;
        top: 8px;
        right: 8px;
    font-size: 1.25rem;
}

.wrapper--resultado{
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-radius: 2px;
}

.resultado--total{
    font-size: 1.8rem;
    font-weight: bold;
}

.critico{
    color: green;
}

.fracasso{
    color: var(--str);
}

.critico::after,
.fracasso::after{
    content: '!';
}
