.saves{
    grid-area: saves;
    max-width: 230px;
    user-select: none;
}

.wrapper--saves{
    background: transparent no-repeat;
    background-size: cover;
    border-radius: 8px;
    box-shadow: -2px 2px 4px 2px #222;
    padding: 6px;
    margin-bottom: 8px;
}

.wrapper--saves:nth-child(5){
    margin-top: 12px;
}

@media screen and (max-width: 660px) {
    .saves{
        margin-inline: auto;
    }
}