.li__recurso--hitdice{
    grid-template-areas: 
    "label label"
    "dado quantidade"
    "titulo titulo"
    "icone icone";
}

.li__recurso--hitdice::before{
    content: "\f6d1";
    color: var(--int);
}

.hitdice{
    grid-area: dado;
    font-size: 1rem;
    width: 48px;
    background: transparent;
    border-right: 1px solid black;
    cursor: pointer;

}

.hitdice--CD{
    text-align: center;
    align-self: center;
    border: none;
    font-weight: bold;
}
